# Ignore WordPress Core Files
/wp-admin/
/wp-content/index.php
/wp-content/languages/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Ignore WordPress Configuration
wp-config.php
wp-content/debug.log

# Ignore Default Themes & Plugins
/wp-content/themes/twenty*/
/wp-content/plugins/hello.php

# Ignore Uploads
/wp-content/uploads/

# Ignore Language (PO) backup files
*.po~

# Ignore compiled language files
/languages/*.mo

# Ignore coverage reports
coverage/

# Ignore Everything in Docker Except Necessary Config
docker/*
!docker/docker-compose.yml  # Keep docker-compose file
!docker/wp-config-docker.php  # If you have a custom WP config

# Keep Only Your Plugin Inside `plugins/`
!docker/wp-content/plugins/courtly

# Ignore PHP & Node.js Dependencies
vendor/
composer.lock
node_modules/

# Ignore IDE and System Files
.vscode/
*.code-workspace
.DS_Store
Thumbs.db

code_summary.txt
src/.phpunit.result.cache
