<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Courtly Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory suffix=".php">./tests</directory>
        </exclude>
        <report>            
            <clover outputFile="coverage/clover.xml" />
            <cobertura outputFile="coverage/cobertura.xml"/>
        </report>
    </coverage>
</phpunit>
